<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask App Demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.1/examples/jumbotron/">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>
        <div class="jumbotron">
          <h1>User</h1>
          <form class="form-signin">
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
          </form>
       </div>

      <footer class="footer">
        <p>&copy; Tue & KEA 2021</p>
      </footer>

    </div>
  </body>
</html>